<html>
<head>
    <meta charset="utf-8">
    <title>全国天气质量可视化</title>
    <script src="d3.min.js"></script>
    <script src="d3-v6-tip.js"></script>
    <link rel="stylesheet" href="d3-tip.css">
    <link rel="stylesheet" type="text/css" href="http://unpkg.com/view-design/dist/styles/iview.css">
    <script type="text/javascript" src="http://vuejs.org/js/vue.min.js"></script>
    <script type="text/javascript" src="http://unpkg.com/view-design/dist/iview.min.js"></script>
    <script src="ra2.js"></script>
    <script src="RadarChart.js"></script>
</head>
<body>
<div id="app">
    
    <i-menu mode="horizontal" :theme="theme1" active-name="1" @on-select="ChangeMenu">
        <Menu-Item name="1">
            <Icon type="ios-paper"></Icon>
            全国空气质量数据
        </Menu-Item>
        <Menu-Item name="2">
            <Icon type="ios-paper"></Icon>
            城市历史空气质量数据
        </Menu-Item>
        <Menu-Item name="3" v-on:click=>
            <Icon type="ios-people"></Icon>
            城市空气质量排名
        </Menu-Item>
        <Menu-Item name="4">
            <Icon type="ios-stats"></Icon>
            地区AQI排名
        </Menu-Item>
        <Menu-Item name="5">
            <Icon type="ios-construct"></Icon>
            地域分布
        </Menu-Item>
    </i-menu>
    <div id="content1" v-show="menuId == '1'">
        <div id="cardBox">
            <div class="cardDiv">
                <Card class="timeSelection" >
                    <p slot="title">
                        <Icon type="ios-film-outline"></Icon>
                        注意事项
                    </p>
                    <ul>
                        <div>
                            <p>可查询时间范围为 2014年5月14日 至 2021年4月19日。</p>
                            <br>
                        </div>
                    </ul>
                </Card>
            </div>
            <div class="cardDiv">
                <Card class="timeSelection" >
                    <p slot="title">
                        <Icon type="ios-film-outline"></Icon>
                        选择查询指标
                    </p>
                    <ul>
                        <div>
                            <i-select v-model="selectTarget" placeholder="请选择指标" style="width:200px">
                                <i-option v-for="item in targetList" :value="item.value" :key="item.value">{{ item.label }}</i-option>
                            </i-select>
                            
                            <!-- <i-button @click="SubmitDate">展示</i-button>
                            <Modal v-model="invalidDate" title="警告">您输入了不合法的日期，请重试</Modal>
                            <Modal v-model="undefinedDate" title="警告">您未选择确定的日期</Modal> -->
                        </div>
                    </ul>
                </Card>
            </div>
            <div class="cardDiv2">
                <Card class="timeSelection" >
                    <p slot="title">
                        <Icon type="ios-film-outline"></Icon>
                        选择查询日期
                    </p>
                    <ul>
                        <div>
                            <p>您当前查询的时间为 {{queryTime}}。</p>
                            <br>
                            <i-select v-model="selectYear" placeholder="请选择年" clearable style="width:200px">
                                <i-option v-for="item in yearList" :value="item.value" :key="item.value">{{ item.label }}</i-option>
                            </i-select>
                            <i-select v-model="selectMonth" placeholder="请选择月" clearable style="width:200px">
                                <i-option v-for="item in monthList" :value="item.value" :key="item.value">{{ item.label }}</i-option>
                            </i-select>
                            <i-select v-model="selectDay" placeholder="请选择日" clearable style="width:200px">
                                <i-option v-for="item in dayList" :value="item.value" :key="item.value">{{ item.label }}</i-option>
                            </i-select>
                            <i-button @click="SubmitDate">展示</i-button>
                            <Modal v-model="invalidDate" title="警告">您输入了不合法的日期，请重试</Modal>
                            <Modal v-model="undefinedDate" title="警告">您未选择确定的日期</Modal>
                        </div>
                    </ul>
                </Card>
            </div>
        </div>
        <svg width="1100" height="700" id="mapSvg" class="svgs" style='display: block; margin: 0 auto;'></svg>
    </div>
    <div id="content2" v-show="menuId == '2'">
        <Radio-Group v-model="selectPlot" @on-change="ChangePlot">
            <Radio label="散点图/折线图"></Radio>
            <Radio label="箱线图"></Radio>
        </Radio-Group>
        <div id="plots">
            <div id="plotAQI">
                <svg class="plotSvg" width="1200" height="300" id="plotAQISvg" class="svgs"></svg>
            </div>
            <div id="plotPM25">
                <svg class="plotSvg" width="1200" height="300" id="plotPM25Svg" class="svgs"></svg>
            </div>
            <div id="plotPM10">
                <svg class="plotSvg" width="1200" height="300" id="plotPM10Svg" class="svgs"></svg>
            </div>
            <div id="plotSO2">
                <svg class="plotSvg" width="1200" height="300" id="plotSO2Svg" class="svgs"></svg>
            </div>
            <div id="plotO3">
                <svg class="plotSvg" width="1200" height="300" id="plotO3Svg" class="svgs"></svg>
            </div>
            <div id="plotCO">
                <svg class="plotSvg" width="1200" height="300" id="plotCOSvg" class="svgs"></svg>
            </div>
        </div>
    </div>
    <div v-show="menuId == '3'">
        <Radio-Group v-model="qualityRank" @on-change="ChangeQualityRank">
            <Radio label="AQI最好"></Radio>
            <Radio label="AQI最差"></Radio>
        </Radio-Group>
        <svg width="1400" height="700" id="rankSvg" class="svgs"></svg>
    </div>
    <div v-show="menuId == '4'">
        <i-select v-model="selectRegion" placeholder="请选择地区" clearable @on-change="ChangeRegion" style="width:200px">
            <i-option v-for="item in regionList" :value="item.value" :key="item.value">{{ item.label }}</i-option>
        </i-select>
    </div>
    <div v-show="menuId == '5'">
        <Radio-Group v-model="qualityDistribution" @on-change="ChangeQualityDistribution">
            <Radio label="AQI最好"></Radio>
            <Radio label="AQI最差"></Radio>
        </Radio-Group>
    </div>



    <!-- <br>
    <p>Change theme</p>
    <Radio-Group v-model="theme1">
        <Radio label="light"></Radio>
        <Radio label="dark"></Radio>
        <Radio label="primary"></Radio>
    </Radio-Group> -->
    
    
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            theme1: 'light',
            menuId: '1',

            selectYear: '',
            yearList: [],
            selectMonth: '',
            monthList: [],
            selectDay: '',
            dayList: [],

            timeRange: '',

            invalidDate: false,
            undefinedDate: false,

            queryTime: "xxx",

            selectTarget: 'AQI',
            targetList: [
                {
                    value: 'AQI',
                    label: 'AQI'
                },
                {
                    value: 'PM2.5',
                    label: 'PM2.5'
                },
                {
                    value: 'PM10',
                    label: 'PM10'
                },
                {
                    value: 'SO2',
                    label: 'SO2'
                },
                {
                    value: 'O3',
                    label: 'O3'
                },
                {
                    value: 'CO',
                    label: 'CO'
                }
            ],

            selectPlot: '散点图/折线图',
            selectCity: '北京',
            AQIDayMean: [],
            PM25DayMean: [],
            PM10DayMean: [],
            SO2DayMean: [],
            O3DayMean: [],
            CODayMean: [],
            
            qualityRank: 'AQI最好',

            selectRegion: '',
            regionList:[
                {
                    value: '华中',
                    label: '华中'
                },
                {
                    value: '华北',
                    label: '华北'
                },
                {
                    value: '华东',
                    label: '华东'
                },
                {
                    value: '华南',
                    label: '华南'
                },
                {
                    value: '西北',
                    label: '西北'
                },
                {
                    value: '东北',
                    label: '东北'
                },
                {
                    value: '西南',
                    label: '西南'
                }
            ],

            qualityDistribution: 'AQI最好',

            projection: d3.geoMercator()
        },
        beforeMount () {
            console.log('==============' + 'beforeMount' + '===================')
            for(var i = 2014; i < 2022; i++){
                this.yearList.push({
                    value: i,
                    label: i.toString() + "年"
                })
            }
            // console.log(this.yearList)

            for(var i = 1; i < 13; i++){
                this.monthList.push({
                    value: i,
                    label: i.toString() + "月",
                })
            }
            // console.log(this.monthList)

            for(var i = 1; i < 32; i++){
                this.dayList.push({
                    value: i,
                    label: i.toString() + "日"
                })
            }
            // console.log(this.dayList)

            for(var i = 1400025600000; i <= 1618790400000; i = i + 86400000){
                this.AQIDayMean.push({
                    date: new Date(i),
                    value: 0
                })
                this.PM25DayMean.push({
                    date: new Date(i),
                    value: 0
                })
                this.PM10DayMean.push({
                    date: new Date(i),
                    value: 0
                })
                this.SO2DayMean.push({
                    date: new Date(i),
                    value: 0
                })
                this.O3DayMean.push({
                    date: new Date(i),
                    value: 0
                })
                this.CODayMean.push({
                    date: new Date(i),
                    value: 0
                })
            }
        },
        mounted () {
            console.log('==============' + 'mounted' + '===================')
            RenderMap()
        },
        methods: {
            // show: function () {
            //     this.visible = true;
            // }
        }
    })

    const circleRadius = 7
    var zoomScale = 1
    var myTarget
    var myTime = ''
    var myYear
    var myMonth
    var myDay

    /**
     * render the map in the first part
     * @name RenderMap
     * @param null
     * @return null
     */
    function RenderMap() {
        const mapSvg = d3.select('#mapSvg');
        const width = mapSvg.attr('width');
        const height = mapSvg.attr('height');
        const margin = { top: 60, right: 0, bottom: 0, left: 0 };
        const innerWidth = width - margin.left - margin.right;
        const innerHeight = height - margin.top - margin.bottom;
        const mainGroup = mapSvg.append('g')
        .attr('id', 'mainGroup')
        .attr('transform', `translate(${margin.left}, ${margin.top})`);
        const tip = d3.tip().html((event, d) => d.properties.name);
        mapSvg.call(tip);
        tip.attr('class', 'd3-tip');

        const zoom = d3.zoom()
            .scaleExtent([1, 20])
            .on("zoom", (event, d) => {
                mainGroup.attr("transform", event.transform);
                zoomScale = event.transform.k;
                console.log(zoomScale);
                if (myTime != '')
                    RenderScatterPlot(myTarget, myTime, myYear, myMonth, myDay)
            })

        mapSvg.call(zoom);
        // mapSvg.call(zoom.transform, d3.zoomIdentity.translate(100, 100));

        d3.json('Data/china.json').then(async data => {
            //const projection = d3.geoNaturalEarth1();
            //const projection = d3.geoMercator();
            app.projection.fitSize([innerWidth, innerHeight], data);
            const path = d3.geoPath().projection(app.projection);
            mainGroup.selectAll('path').data(data.features).join('path')
                .attr('stroke', 'white').attr('fill', 'green')
                .attr('d', path)
                .attr('id', d => d.properties.name)
                .on('mouseover', tip.show)
                .on('mouseout', tip.hide);            
        });
    }

    /**
     * render the scatter plot of the specific time range
     * @name RenderScatterPlot
     * @param time<string>:the name of the input csv
     * @return null
     */
    function RenderScatterPlot(target, time, year, month, day) {
        console.log('==============' + 'RenderScatterPlot' + '===================')

        const colorMap = [
            '#7FFF00',  // 0-50
            '#FFD700',  // 50-100
            '#FF8C00',  // 100-150
            '#FF0000',  // 150-200
            '#B22222',  // 200-300
            '#800000',  // 300+
        ]

        const maxAQI = 300
        const maxPM25 = 150
        const maxPM10 = 300
        const maxSO2 = 100
        const maxO3 = 100
        const maxCO = 3


        // console.log(target, time, year, month, day)
        var filename = 'Data_v2/' + target + '_' + time + 'mean.csv'
        console.log('Open file name', filename)

        d3.csv(filename).then(async data => {

            var renderData
            var renderDate
            
            if(time == 'day') {
                renderDate = year.toString() + month.toString().padStart(2, '0') + day.toString().padStart(2, '0')
            }
            else if(time == 'month') {
                renderDate = year.toString() + month.toString().padStart(2, '0')
            }
            else {
                renderDate = year.toString()
            }

            // console.log('renderDate', renderDate)
            
            for(var i = 0; i < data.length; i++){
                if(data[i][''] == renderDate){
                    // console.log('find date', data[i])
                    renderData = data[i]
                    break
                }
            }
            // console.log('renderData', renderData)            

            var locations = []
            var targetValue = []
            var cityName = []
            var cityRate = []
            
            d3.csv('Data/citynamewithlocation.csv').then(locationData =>{
                // console.log('locationData', locationData)
                for(var key in renderData){
                    locationData.map(e=>{
                        if(key == e.City){
                            // console.log('find city', e)
                            var loc = new Array(parseFloat(e.Longtitude), parseFloat(e.Latitude))
                            locations.push(loc)
                            targetValue.push(parseFloat(renderData[key]))
                            cityName.push(key)
                            cityRate.push(e.Rate)
                        }
                    })
                }

                // console.log('locations', locations)
                // console.log('targetValue', targetValue)
                // console.log('cityName', cityName)

                mainGroup = d3.select('#mainGroup')
                mainGroup.selectAll('#scatterCircle').remove()
                mainGroup.selectAll('#scatterText').remove()

                mainGroup.selectAll('circle')
                .data(locations)
                .enter().append('circle')
                .attr('cx', function(d) {
                    return app.projection(d)[0]
                })
                .attr('cy', function(d) {
                    return app.projection(d)[1]
                })
                .attr('id', 'scatterCircle')
                .data(targetValue)
                .attr('r', circleRadius/Math.sqrt(zoomScale))
                .attr('display', function(d) {
                    if(d == -1) {
                        return 'none'
                    }
                    else {
                        return 'block'
                    }
                })
                .attr('fill', function(d) {
                    if(d < 50){
                        return colorMap[0]
                    }
                    else if(d < 100){
                        return colorMap[1]
                    }
                    else if(d < 150){
                        return colorMap[2]
                    }
                    else if(d < 200){
                        return colorMap[3]
                    }
                    else if(d < 300){
                        return colorMap[4]
                    }
                    else {
                        return colorMap[5]
                    }
                })
                .attr('id', 'scatterCircle')
                .data(cityRate)
                .attr('display', function(d) {
                    if(zoomScale < 4)
                    {
                        if (d == 2 || d == 3)
                            return 'none';
                    }
                    else if(zoomScale < 8)
                    {
                        if (d == 3)
                            return 'none';
                    }
                })
                .data(cityName)
                .on('mouseover', (event, d) => {
                    mapSvg = d3.select('#mapSvg')
                    mapSvg.selectAll('#chart').remove()
                    var radarChart = mapSvg.append('g')
                    .attr('id', 'chart')
                    .attr('transform', function(d){
                        return `translate(${event.clientX - 300}, ${event.clientY - 160})`
                    })
                    .append("rect")
                    .attr('width', '280')
                    .attr('height', '280')
                    .attr("fill", "#333333");           
                    
                    var AQIFilename = 'Data_v2/AQI_' + time + 'mean.csv'
                    var AQIValue = 0
                    d3.csv(AQIFilename).then(AQIData =>{
                        // console.log("RadarPlot AQI", AQIData)
                        var selectRow
                        for(var i = 0; i < AQIData.length; i++){
                            if(AQIData[i][''] == renderDate){
                                selectRow = AQIData[i]
                                break
                            }
                        }
                        AQIValue = selectRow[d]

                        var PM25Filename = 'Data_v2/PM2.5_' + time + 'mean.csv'
                        var PM25Value = 0
                        d3.csv(PM25Filename).then(PM25Data =>{
                            // console.log("RadarPlot PM25", PM25Data)
                            var selectRow
                            for(var i = 0; i < PM25Data.length; i++){
                                if(PM25Data[i][''] == renderDate){
                                    selectRow = PM25Data[i]
                                    break
                                }
                            }
                            PM25Value = selectRow[d]

                            var PM10Filename = 'Data_v2/PM10_' + time + 'mean.csv'
                            var PM10Value = 0
                            d3.csv(PM10Filename).then(PM10Data =>{
                                // console.log("RadarPlot PM10", PM10Data)
                                var selectRow
                                for(var i = 0; i < PM10Data.length; i++){
                                    if(PM10Data[i][''] == renderDate){
                                        selectRow = PM10Data[i]
                                        break
                                    }
                                }
                                PM10Value = selectRow[d]

                                var SO2Filename = 'Data_v2/SO2_' + time + 'mean.csv'
                                var SO2Value = 0
                                d3.csv(SO2Filename).then(SO2Data =>{
                                    // console.log("RadarPlot SO2", SO2Data)
                                    var selectRow
                                    for(var i = 0; i < SO2Data.length; i++){
                                        if(SO2Data[i][''] == renderDate){
                                            selectRow = SO2Data[i]
                                            break
                                        }
                                    }
                                    SO2Value = selectRow[d]

                                    var O3Filename = 'Data_v2/O3_' + time + 'mean.csv'
                                    var O3Value = 0
                                    d3.csv(O3Filename).then(O3Data =>{
                                        // console.log("RadarPlot O3", O3Data)
                                        var selectRow
                                        for(var i = 0; i < O3Data.length; i++){
                                            if(O3Data[i][''] == renderDate){
                                                selectRow = O3Data[i]
                                                break
                                            }
                                        }
                                        O3Value = selectRow[d]

                                        var COFilename = 'Data_v2/CO_' + time + 'mean.csv'
                                        var COValue = 0
                                        d3.csv(COFilename).then(COData =>{
                                            // console.log("RadarPlot CO", COData)
                                            var selectRow
                                            for(var i = 0; i < COData.length; i++){
                                                if(COData[i][''] == renderDate){
                                                    selectRow = COData[i]
                                                    break
                                                }
                                            }
                                            COValue = selectRow[d]

                                            // console.log("Value", AQIValue, PM25Value, PM10Value, SO2Value, O3Value, COValue)

                                            var radarPlotData = []
                                            radarPlotData.push(renderDate)
                                            radarPlotData.push(AQIValue/maxAQI)
                                            radarPlotData.push(PM25Value/maxPM25)
                                            radarPlotData.push(PM10Value/maxPM10)
                                            radarPlotData.push(SO2Value/maxSO2)
                                            radarPlotData.push(O3Value/maxO3)
                                            radarPlotData.push(COValue/maxCO)
                                            
                                            // console.log("render data", radarPlotData)
                                            radar('#chart', 'type.csv', radarPlotData);
                                        });
                                    });
                                });
                            });
                        });

                    });
                })
                .on('click', (event, d)=>{
                    app.selectCity = d
                    ReadHistoryData()
                })

                mainGroup.selectAll('text')
                // .append('text')
                .data(locations)
                .enter().append('text')
                .attr('font-size', 0.8/Math.sqrt(zoomScale)+'em')
                .attr('fill', '#FFFFFFF')
                .attr('transform', function(d){
                    return `translate(${app.projection(d)[0] - circleRadius/Math.sqrt(zoomScale)}, ${app.projection(d)[1] + circleRadius/Math.sqrt(zoomScale)})`
                })
                .data(targetValue)
                .attr('display', function(d) {
                    if(d == -1) {
                        return 'none'
                    }
                    else {
                        return 'block'
                    }
                })
                .text(function(d){
                    return d.toFixed(0)
                })
                .attr('id', 'scatterText')
                .data(cityRate)
                .attr('display', function(d) {
                    if(zoomScale < 4)
                    {
                        if (d == 2 || d == 3)
                            return 'none';
                    }
                    else if(zoomScale < 8)
                    {
                        if (d == 3)
                            return 'none';
                    }
                })
                // .data(cityName)
                // .text(function(d){
                //     return d
                // })
            });
        });
      
    }

    /**
     * change the open menu item and control badge to remind the new messages
     * @name ChangeMenu
     * @param name<string>:the name of the selected submenu
     * @return null
     */
    function ChangeMenu(name) {
      app.menuId = name;
    }

     /**
     * read history data for scatter plot, box plot and line plot
     * @name ReadHistoryData
     * @param null
     * @return null
     */
    function ReadHistoryData(){
        console.log("ReadHistoryData()", app.selectCity)
        d3.csv('Data_v2/AQI_daymean.csv').then(data =>{
            // console.log('AQI data', data)
            for(var i = 0; i < app.AQIDayMean.length; i++){
                app.AQIDayMean[i].value= data[i][app.selectCity]
            }

            d3.csv('Data_v2/PM2.5_daymean.csv').then(data =>{
                for(var i = 0; i < app.PM25DayMean.length; i++){
                    app.PM25DayMean[i].value= data[i][app.selectCity]
                }

                d3.csv('Data_v2/PM10_daymean.csv').then(data =>{
                    for(var i = 0; i < app.PM10DayMean.length; i++){
                        app.PM10DayMean[i].value= data[i][app.selectCity]
                    }

                    d3.csv('Data_v2/SO2_daymean.csv').then(data =>{
                        for(var i = 0; i < app.SO2DayMean.length; i++){
                            app.SO2DayMean[i].value= data[i][app.selectCity]
                        }

                        d3.csv('Data_v2/O3_daymean.csv').then(data =>{
                            for(var i = 0; i < app.O3DayMean.length; i++){
                                app.O3DayMean[i].value= data[i][app.selectCity]
                            }

                            d3.csv('Data_v2/CO_daymean.csv').then(data =>{
                                for(var i = 0; i < app.CODayMean.length; i++){
                                    app.CODayMean[i].value= data[i][app.selectCity]
                                }

                                ChangePlot()
                            })
                        })
                    })
                })
            })
        })

        
    }

    /**
     * change the plot category
     * @name ChangePlot
     * @param null
     * @return null
     */
    function ChangePlot() {
        console.log('==============' + 'ChangePlot' + '===================')
        if(app.selectPlot == '散点图/折线图'){

            // draw scatter plot
            DrawScatterPlot('#plotAQISvg', 'AQI')
            DrawScatterPlot('#plotPM25Svg', 'PM2.5')
            DrawScatterPlot('#plotPM10Svg', 'PM10')
            DrawScatterPlot('#plotSO2Svg', 'SO2')
            DrawScatterPlot('#plotO3Svg', 'O3')
            DrawScatterPlot('#plotCOSvg', 'CO')
        }
        else{
            // draw box plot
            d3.selectAll('.plotg').remove()
        }
    }

    /**
     * draw scatter plot of specified target
     * @name DrawScatterPlot
     * @param divid<string> the id of svg; target<string> the name of target
     * @return null
     */
    function DrawScatterPlot(divid, target){
        var targetData
        var yLabel
        var scaleDomain

        switch (target) {
            case 'AQI':
                targetData = app.AQIDayMean
                yLabel = target
                scaleDomain = 500
                break;
            case 'PM2.5':
                targetData = app.PM25DayMean
                yLabel = target
                scaleDomain = 400
                break;
            case 'PM10':
                targetData = app.PM10DayMean
                yLabel = target
                scaleDomain = 550
                break;
            case 'SO2':
                targetData = app.SO2DayMean
                yLabel = target
                scaleDomain = 120
                break;
            case 'O3':
                targetData = app.O3DayMean
                yLabel = target
                scaleDomain = 150
                break;
            case 'CO':
                targetData = app.CODayMean
                yLabel = target
                scaleDomain = 8
                break;
            default:
                break;
        }


        const xValue = d => d.date;
        const yValue = d => d.value;
        
        let xScale, yScale;
        const xBarValue = (datum) => {return datum.date};
        const yBarValue = (datum) => {return datum.value};
        const xAxisLabel = 'date';
        const yAxisLabel = yLabel;

        let gg = d3.select(divid)
        let g = gg.append('g')
        .attr('class', 'plotg')

        var innerHeight = gg.attr('height')
        var innerWidth = gg.attr('width')

        
        xScale = d3.scaleTime()
        .domain([new Date(2014, 3, 14), new Date(2021, 3, 19)])
        .range([0, innerWidth-250]);
        yScale = d3.scaleLinear()
        .domain([0, scaleDomain].reverse())
        .range([0, innerHeight-120]);

        const xAxisMethod = d3.axisBottom(xScale);
        const yAxisMethod = d3.axisLeft(yScale);
        const xAxisGroup = g.append('g').call(xAxisMethod)
              .attr('font-size', '1.3em')
              .attr('font-weight', 'bold');
        xAxisGroup.append('text')
        .attr('font-size', '2em')
        .attr('y', 60)
        .attr('x', innerWidth / 2 - 100)
        .attr('fill', '#504f4f')
        .text(xAxisLabel)
        .attr('text-anchor', 'middle') 

        const yAxisGroup = g.append('g').call(yAxisMethod)
              .attr('font-size', '1.3em')
              .attr('font-weight', 'bold');
        yAxisGroup.append('text')
        .attr('font-size', '2em')
        .attr('transform', `rotate(-90)`)
        .attr('x', -(innerHeight - 100) / 2)
        .attr('y', -70)
        .attr('fill', '#504f4f')
        .text(yAxisLabel)
        .attr('text-anchor', 'middle') 
        xAxisGroup.attr('transform', `translate(${200}, ${innerHeight-70})`);
        yAxisGroup.attr('transform', `translate(${200}, ${50})`);

        g.selectAll(".dot")
        .data(targetData)
        .enter().append("circle") // Uses the enter().append() method
        .attr("class", "dot") // Assign a class for styling
        .attr("cx", function(d, i) { 
            return xScale(d.date) 
        })
        .attr("cy", function(d) { 
            return yScale(d.value) 
        })
        .attr("r", 2)
        .attr('transform', `translate(${200}, ${50})`);
    }

    /**
     * submit the selected date
     * @name SubmitDate
     * @param null
     * @return null
     */
    function SubmitDate() {
        console.log('==============' + 'SubmitDate' + '===================')
        console.log(app.selectYear, app.selectMonth, app.selectDay)

        var validYear = app.selectYear != "" && app.selectYear != undefined
        validMonth = app.selectMonth != "" && app.selectMonth != undefined
        var validDay = app.selectDay != "" && app.selectDay != undefined
        app.queryTime = "xxx"
        
        if(validYear != true){
            app.undefinedDate = true
        }
        else if(validDay == true && validMonth != true){
            app.undefinedDate = true
        }

        if(app.selectYear == 2021 && validMonth == true){
            if(app.selectMonth > 4){
                app.invalidDate = true
                return
            }
            else if(app.selectMonth == 4 && validDay == true){
                if(app.selectDay > 19){
                    app.invalidDate = true
                    return
                }
            }
        }
        else if(app.selectYear == 2014 && validMonth == true){
            if(app.selectMonth < 5){
                app.invalidDate = true
                return
            }
            else if(app.selectMonth == 5 && validDay == true){
                if(app.selectDay < 14){
                    app.invalidDate = true
                    return
                }
            }
        }

        // validate the regular date
        if(validMonth == true){
            if((app.selectMonth == 4 || app.selectMonth == 6 || app.selectMonth == 9 || app.selectMonth == 11) && validDay == true){
                if(app.selectDay > 30){
                    app.invalidDate = true
                    return
                }
            }
            else if(app.selectMonth == 2 && validDay == true){
                if(app.selectYear == 2016 || app.selectYear == 2020){
                    if(app.selectDay > 29){
                        app.invalidDate = true
                        return
                    }
                }
                else{
                    if(app.selectDay > 28){
                        app.invalidDate = true
                        return
                    }
                }
            }
        }

        // generate the time string
        if(validYear == true){
            app.timeRange = 'year'
            app.queryTime = app.selectYear.toString() + "年"
            if(validMonth == true){
                app.timeRange = 'month'
                app.queryTime = app.queryTime + app.selectMonth.toString() + "月"
                if(validDay == true){
                    app.timeRange = 'day'
                    app.queryTime = app.queryTime + app.selectDay.toString() + "日"
                }
            }
        }

        // render the scatter map
        if(validDay == true){
            RenderScatterPlot(app.selectTarget, 'day', app.selectYear, app.selectMonth, app.selectDay)
            myTime = 'day'
        }
        else if(validMonth == true){
            RenderScatterPlot(app.selectTarget, 'month', app.selectYear, app.selectMonth, app.selectDay)
            myTime = 'month'
        }
        else{
            RenderScatterPlot(app.selectTarget, 'year', app.selectYear, app.selectMonth, app.selectDay)
            myTime = 'year'
        }
        myTarget = app.selectTarget
        myYear = app.selectYear
        myMonth = app.selectMonth
        myDay = app.selectDay
    }

    /**
     * change the quality rank best or worse (Histogram)
     * @name ChangeQualityRank
     * @param null
     * @return null
     */
    function ChangeQualityRank() {
        console.log('==============' + 'ChangeQualityRank' + '===================')
        if(app.qualityRank == "AQI最好"){
            console.log('==============' + '最好' + '===================')
            // to do
            const svg = d3.select('#rankSvg');
            const width = svg.attr('width');
            const height = svg.attr('height');
            const margin = {top: 60, right: 30, bottom: 60, left: 150};
            const innerWidth = width - margin.left - margin.right;
            const innerHeight = height - margin.top - margin.bottom;
            const mainGroup = svg.append('g')
            .attr('transform', `translate(${margin.left}, ${margin.top})`)
            .attr('id', 'maingroup');
            // console.log(d);
            const xValue = d => d.globalsale;
            const yValue = d => d.platform;

            
            let xSacle, yScale;
            const xBarValue = (datum) => {return datum.globalsale};
            const yBarValue = (datum) => {return datum.platform};
            const xAxisLabel = 'GlobalSale';
            const yAxisLabel = 'Platform';
            
            let totalduration = 20000;
            let aduration = 800;

            const platforms = ["Wii", "NES", "GB", "DS", "X360", "PS3", "PS2", "SNES", "GBA", "3DS", "PS4", "N64", "PS", "XB", "PC", "2600", "PSP", "XOne", "GC", "WiiU", "GEN", "DC", "PSV", "SAT", "SCD", "WS", "NG", "TG16", "3DO", "GG", "PCFX"];

            const colors = {
                'Wii':"#DD6B66", 
                'NES':"#759AA0", 
                'GB':"#E69D87", 
                'DS':"#8DC1A9",
                'X360':"#EA7E53", 
                'PS3':"#EEDD78", 
                'PS2':"#73A373",
                'SNES':"#73B9BC",
                'GBA':"#7289AB", 
                '3DS':"#91CA8C", 
                'PS4':"#F49F42", 
                'N64':"#AA312C",
                'PS':"#39656D",
                'XB':"#B35E45", 
                'PC':"#4B8E6F", 
                '2600 ':"#B6481C",
                'PSP':"#BBA838", 
                'XOne':"#386F38", 
                'GC':"#388589", 
                'WiiU':"#385177",
                'GEN':"#50964A", 
                'DC':"#C16B0D", 
                'PSV':"#FF8500", 
                'SAT':"#45BFD3",
                'SCD':"#FF5F2F", 
                'WS':"#50F3A8", 
                'NG':"#FF4800", 
                'TG16':"#FFDE1A",
                '3DO':"#41D541", 
                'GG':"#32E7EF", 
                'PCFX':"#ef638e",
                '2600':"#B6481C",
            };

            const renderinit = function(){
                let g = d3.select('#maingroup');

                xScale = d3.scaleLinear()
                .domain([0, 1300])
                .range([0, innerWidth-100]);
                yScale = d3.scaleBand()
                .domain(platforms)
                .range([0, innerHeight-20])
                .padding(0.01);

                const xAxisMethod = d3.axisBottom(xScale);
                const yAxisMethod = d3.axisLeft(yScale);

                const xAxisGroup = mainGroup.append('g').call(xAxisMethod)
                    .attr("class","x-axis")
                    .attr('font-size', '1.2em')
                    // .attr('font-weight', 'bold');
                xAxisGroup.append('text')
                .attr('font-size', '2em')
                .attr('y', 60)
                .attr('x', innerWidth / 2)
                .attr('fill', '#504f4f')
                .text(xAxisLabel);

                const yAxisGroup = mainGroup.append('g').call(yAxisMethod)
                    .attr("class","y-axis")
                    .attr('font-size', '1.2em')
                    // .attr('font-weight', 'bold');
                yAxisGroup.append('text')
                .attr('font-size', '2em')
                .attr('transform', `rotate(-90)`)
                .attr('x', -(innerHeight - 20) / 2)
                .attr('y', -70)
                .attr('fill', '#504f4f')
                .text(yAxisLabel)
                .attr('text-anchor', 'middle') 
                .text(yAxisLabel);
                xAxisGroup.attr('transform', `translate(${0}, ${innerHeight-20})`);

                let legend_color = Object.values(colors);
                let legend_text = Object.keys(colors);
                // draw legend
                var legend = d3.select('#maingroup').selectAll(".legend")
                .data(legend_text).join('g')
                .attr("class", "legend")
                .attr("transform", function(d, i) { return "translate(" + (innerWidth - 50) + "," + ((i-1) * 22) + ")"; });
        
                // draw legend colored rectangles
                legend.append("rect")
                .data(legend_color) 
                .attr("x", 0)
                .attr("y", 0)
                .attr("width", 30)
                .attr("height", 20)
                .style("fill", d => d);
        
                // draw legend text
                legend.append("text")
                .attr("x", 40)
                .attr("y", 9)
                .attr("dy", ".5em")
                .attr("text-anchor", "start")
                .attr("fill", "#504f4f")
                .text(d => d); 

                d3.select(".legend").remove();

                g.append("text")
                .attr('id', 'date_text')
                .attr("x", innerWidth - 120)
                .attr("y", innerHeight - 80)
                .attr("dy", ".5em")
                .style("text-anchor", "end")
                .attr("fill", "#504f4f")
                .attr('font-size', '5em')
                .attr('font-weight', 'bold')
                .text(' ');
            }

            /* 
                Loading data and preprocessing data. 
                Note that you can also preprocessing data in your own way using your prefered language, e.g., Python. 
            */

            d3.csv('Data/pgy.csv').then(data =>{
                // process data
                var sales = {};
                var platforms = [];
                for (var i = 0; i < data.length; i++){

                var year = parseInt(data[i]['year']);
                var platform = data[i]['platform'];
                var globalsale = data[i]['globalsale'];

                if (platforms.indexOf(platform) === -1){
                    platforms.push(platform);
                }

                if(sales[year] !== undefined){
                    sales[year][platform] = globalsale;
                }
                else{
                    sales[year] = {};
                    sales[year][platform] = globalsale;
                }
                }

                renderinit();

                // set the animation interval; 
                var gamesales = []
                
                let c = 1980; 
                let intervalId = setInterval(function(){
                    if(c >= 2021){
                        console.log('time to close this animation');
                        clearInterval(intervalId); 
                    }else{
                    const transition = d3.transition().duration(aduration).ease(d3.easeLinear);
                    console.log('year', c);

                    gamesales = gamesales.sort(function(a, b){return parseFloat(b.globalsale) - parseFloat(a.globalsale)});

                    var tmpgamesales = [];
                    for (var i = 0; i < gamesales.length; i++){
                        tmpgamesales.push({
                        'platform':gamesales[i]['platform'],
                        'globalsale':gamesales[i]['globalsale']
                        });
                    }
                    for (var key in sales[String(c)]){
                        var tmp = tmpgamesales.find(item => item.platform == key);
                        if (tmp !== undefined){
                        tmp['globalsale'] = parseFloat(sales[String(c)][key]);
                        }
                        else{
                        tmpgamesales.push({
                            'platform':key,
                            'globalsale':parseFloat(sales[String(c)][key])
                        });
                        }

                        gamesales = [];
                        for (var i = 0; i < tmpgamesales.length; i++){
                        gamesales.push({
                            'platform':tmpgamesales[i]['platform'],
                            'globalsale':tmpgamesales[i]['globalsale']
                        });
                        }
                    }

                    let g = d3.select('#maingroup');

                    xScale = d3.scaleLinear()
                    .domain([0, d3.max(gamesales, d => d.globalsale)+50])
                    .range([0, innerWidth-80]);

                    d3.select("g.x-axis")
                    .transition(transition)
                    .call(d3.axisBottom(xScale));

                    d3.selectAll("g.x-axis g.tick")
                    .select("line.grid-line")
                    .remove();

                    let xlines = d3.selectAll("g.x-axis g.tick")
                    .append("line")
                    .classed("grid-line",true);
                    xlines.attr("x1",0)
                    .attr("y1",0)
                    .attr("x2",0)
                    .attr("y2",-innerHeight);


                    var tmpPlatforms = [];
                    for (var i = 0; i < gamesales.length; i++){
                        tmpPlatforms.push(gamesales[i]['platform']);
                    }

                    yScale = d3.scaleBand()
                    .domain(tmpPlatforms)
                    .range([0, innerHeight-20])
                    .padding(0.01);
                    
                    d3.select("g.y-axis")
                    .transition(transition)
                    .call(d3.axisLeft(yScale));

                    d3.selectAll("g.y-axis g.tick")
                    .select("line.grid-line")
                    .remove();

                    let ylines = d3.selectAll("g.y-axis g.tick")
                    .append("line")
                    .classed("grid-line",true);

                    ylines.attr("x1",0)
                    .attr("y1",0)
                    .attr("x2", innerWidth)
                    .attr("y2",0);


                    d3.select('#date_text').text(String(c)+'年');

                    
                    g.selectAll('.rect-barchart')
                    .data(gamesales, data => data.platform)
                    .join('rect')
                    .transition(transition)
                    .attr('id', function(d){
                        return d.platform;
                    })
                    .attr('value', function(d){
                        return d.globalsale;
                    })
                    .attr('class', 'rect-barchart')
                    .attr('fill', function(datum){return colors[datum.platform]})
                    .attr("rx", 5)
                    .attr('x', 0)
                    .attr('height', yScale.bandwidth() * 4 / 5)
                    .attr('width', (datum) => {return xScale(xBarValue(datum))})
                    .attr("y", function(d, i) { //对排序之后的横坐标重排
                        return yScale(tmpPlatforms[i]) + yScale.bandwidth() / 10 ;
                    });

                    const textbarchart = g.selectAll('.text-barchart').data(gamesales, data => data.platform);
                    textbarchart.enter().append('text')
                    .attr('class', 'text-barchart')
                    .attr('y', datum => yScale(yBarValue(datum)) + yScale.bandwidth() / 2)
                    .attr('x', (datum) => {return xScale(xBarValue(datum))})
                    .attr('dx', 10)
                    .attr('text-anchor', 'start')
                    .attr("fill", "#504f4f")
                    .attr('font-size', '1.2em')
                    .attr('font-weight', 'bold');

                    textbarchart.text(d => d.globalsale)
                    .transition(transition)
                    .tween('text', function(d) {
                        var i = d3.interpolate(this.textContent, d.globalsale);
                        return function(t){
                            this.textContent = d3.format('.2f')(i(t));
                        }
                    })
                    .attr('x', (datum) => {
                        return xScale(xBarValue(datum));
                    })
                    .attr("y", function(d, i) { //对排序之后的横坐标重排
                        return yScale(tmpPlatforms[i]) + yScale.bandwidth()/2 + 5;
                    });
                    
                    c = c + 1;
                    }
                }, aduration); 
                
            })
        }
        else{
            console.log('==============' + '最差' + '===================')
            // to do
        }
    }

    /**
     * change the quality distribution best or worse (Pie chart)
     * @name ChangeQualityRank
     * @param null
     * @return null
     */
     function ChangeQualityDistribution() {
        console.log('==============' + 'ChangeQualityDistribution' + '===================')
        if(app.qualityRank == "AQI最好"){
            console.log('==============' + '最好' + '===================')
            // to do
        }
        else{
            console.log('==============' + '最差' + '===================')
            // to do
        }
    }

    /**
     * change the quality region 
     * @name ChangeRegion
     * @param null
     * @return null
     */
     function ChangeRegion() {
        console.log('==============' + 'ChangeRegion' + '===================')
        console.log('当前选择的展示区域是', app.selectRegion)
        // to do
    }
    

  </script>

  <style scoped>
      .timeSelection {
        width:250px;
        margin-left: 20px;
        margin-top: 20px;
      }

      #content1 {
          display: flex;
      }

      #test {
          display: block;
      }

      #cardBox {
        display: inline;
        width: 300px;
      }

      .cardDiv {
          display: flex;
          height: 150px;
      }

      .cardDiv2 {
          display: flex;
          height: 320px;
      }

      .ivu-select {
          margin-bottom: 10px;
      }

      .ivu-btn {
          margin-top: 20px;
          float: right;
      }

      #content2 {
          display: flex;
      }

      .plotSvg {
          width: 1200px;
          height: 300px;
      }


  </style>

</body>
</html>